<ul>
    <% for(let i=0; i<products.length; ++i) { %>
        <li>
            <img src= "../image/<%=products[i].id%>.jpg" ><%=products[i].name %>
            <%=products[i].price %>
            <input id="<%=products[i].id%>" placeholder="знижка ">
            <a class="addbtn" , onmousedown="add_discount(<%=products[i].id%>)">Знизити ціну</a>
            <a class="addbtn" , onmousedown="del(<%=products[i].id%>)">Видалити</a>
        </li>
    <%} %>
</ul>