<ul>
    <% for(let i=0; i<products.length; ++i) { %>
        <li>
            <img src= "../image/<%=products[i].id%>.jpg" ><%=products[i].name %>
            <a class="addbtn" type="submit", onmousedown="add_to_basket(<%=products[i].id%>)">
                <%if(products[i].discount==0){%> <%=products[i].price%>
                <%}else {%> <%=Math.ceil(((products[i].price*(1-products[i].discount/100)*100)/100))%>
                    <div class = old><%=products[i].price%></div><%}%>
                </a>
        </li>
    <%} %>
</ul>